/* Colors. */
@footer-bg-color: #490582; 
@footer-font-color: #eeeeee; 
@selected-bg-color: #490582;
@selected-font-color: #eeeeee;
@panel-bg-color: #ffffff; 
@portlet-bg-color: #eddff6;
@portlet-font-color: #111111;
@header-gradient-top-color: @selected-bg-color;
@header-gradient-bottom-color: #bfa9cb;
@data-table-highlight-color: #f3e6fc;
@data-table-header-bg-color: #490582;
@data-table-header-font-color: #eeeeee; 
//@panel-bg-color: #c19dda;
@panel-header-bg-color: #eddff6;
@panel-font-color: #111111;  
@panel-border-color: white;
@article-bg-color: #fbf0ff;
@article-band-color1: #ebe1f5;

/* Shoemake Theme #1.  */
@font-face
{
	font-family: Budidaya; // From 1001 Fonts
	src: url("../fonts/Budidaya-Italic.otf");
}
@font-face
{
	font-family: Michroma;
	src: url(../fonts/michroma-webfont.woff);
}
@font-face
{
	font-family: "Andika";
	src: url("../fonts/Andika-R.ttf");
}

html, body {
	width: 100%;
	height: 100%;
}

.page-header {
	color: #490582;
    border-bottom: 1px solid #490582;
	background: @article-band-color1;
	padding: 10px 0 10px 10px;
}

.page-header2 {
	color: #490582;
    border-bottom: 1px solid #490582;
	background: @article-band-color1;
}

h1, h2, h3, h4, h6, h6 {
    margin-left: 0px;
	font-family: Andika, Helvetica, sans-serif;
}

div.site-title {
	padding: 20px 2px 2px 2px;
	vertical-align: middle;
}

div.site-title>h1 {
	font-family: Budidaya, Helvetica, Arial, sans-serif;
	color: white;
	font-size: -webkit-xxx-large;
}

body {
	font-family: Andika, Helvetica, sans-serif;
	font-size: small;	    
	// NOTE: ONLY FOR PROTOTYPE
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

header.container {
    background: @header-gradient-top-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(@header-gradient-top-color, @header-gradient-bottom-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@header-gradient-top-color, @header-gradient-bottom-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@header-gradient-top-color, @header-gradient-bottom-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@header-gradient-top-color, @header-gradient-bottom-color); /* Standard syntax */
}

footer {
	border-style: ridge;
	padding: 6px 20px 6px 20px;
	border-color: #999999 #eeeeee;
	background: @footer-bg-color;
	color: @footer-font-color;
	font-family: Andika, Helvetica, sans-serif;
	font-size: small;	    
}

.half-width {
	//width: 50%;
}

.clickable{
    cursor: pointer;   
}

img.float-right {
	float: right;
	margin: 0, 0, 0, 10px;
}

img.float-left {
	float: left;
	margin: 0, 10px, 0, 0;
}

.overflow-auto {
	overflow: auto;
}

.inline {
	display: inline;
}

a.btn-success:visited, a.btn-success:link {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

a:link {
	color: @selected-bg-color;
} 
a:visited {
	color: @selected-bg-color;
} 
a:hover {
	color: @selected-bg-color;
} 
a:active {
	color: @selected-bg-color;
} 
a.underline {
	text-decoration: underline;
}

img.app-icon {
	vertical-align: middle;
	margin: 20px 0 0 0;
}

.panel-heading span {
//	margin-top: -20px;
	font-size: 15px;
}

// Breadcrumbs
div.breadcrumbs {
	margin: 30px 0 0 0;
}

ol.breadcrumb {
	display: inline;
	background-color: inherit;
}

.breadcrumb > .active {
	color: @portlet-font-color;
	text-shadow: 1px 1px 1px #bfa9cb;
}

// Jumbotron 
div.jumbotron {
	border: none;
	border-radius: 0px;
    background: @panel-bg-color;
    //padding: 5px, 5px, 5px, 5px;
    -moz-box-shadow: 0px 2px 3px #999999;
    -webkit-box-shadow: 0px 2px 3px #999999;
    box-shadow: 0px 2px 3px #999999;

	margin: 20px 40px 0 0;
	font-weight: 200;
	line-height: 2.1428571435;
	//color: @portlet-font-color;
	//background-color: @portlet-bg-color;
    //border-color: @selected-bg-color;
	padding: 9px 9px 9px 9px;
}

h4.jumbotron {
	padding: 0 0 9px 0;
	margin: 0 0 0 0;
	line-height: 1;  
	background-color: @panel-bg-color;
	font-family: Andika, Helvetica, Arial, sans-serif;
	font-size: 180%;
	font-weight: bold;
	color: @portlet-font-color; 
    border-color: @selected-bg-color;
}

p.jumbotron {
	padding: 0 200px 9px 0;
	margin: 0 10px 0 0;
	background-color: @panel-bg-color;
	font-family: Andika, Helvetica, Arial, sans-serif;
	line-height: 1.2;
	color: @portlet-font-color;
    border-color: @selected-bg-color;
}

.container .jumbotron {
    border-radius: 6px;
    border-color: @selected-bg-color;
}

// NavBar
nav.navbar {
	min-height: 0px;
	background: black;
}

form.navbar-form {
	margin-top: 20px;
}

nav.navbar-default {
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 0;
}

nav.navbar-default > div.container-fluid {
    padding: 0;
	margin-left: 0px;	
}

div.navbar-collapse {
	vertical-align: middle;
}

.navbar-default .navbar-nav>li>a {
	color: #d9d0dd;
	text-shadow: 1px 1px 1px #000;
	font-weight: bold;
	margin: 0 0 0 0;
}

.navbar-default .navbar-nav>li.active>a, 
.navbar-default .navbar-nav>li.active>a:hover, 
.navbar-default .navbar-nav>li.active>a:focus {
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	color: #ffffff;
	background: none;
	
    // White gradient background, orange text.  
	//color: #a32000;
    //background: #ffffff; /* For browsers that do not support gradients */
    //background: -webkit-linear-gradient(#ffffff, #aaaaaa); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(#ffffff, #aaaaaa); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(#ffffff, #aaaaaa); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(#ffffff, #aaaaaa); /* Standard syntax */
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
	color: #ffffff;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;

    // Orange background, white text.
    // background: #ff8430; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(#ff8430, #a32000); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(#ff8430, #a32000); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(#ff8430, #a32000); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(#ff8430, a32000); /* Standard syntax */

}

.navbar-fixed-bottom .dropdown .caret {
  background-color: red;
  border-top: 0 dotted;
  border-bottom: 4px solid #000000;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  background-color: orange;
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    background-color: cyan;
    right: 0;
    left: auto;
  }
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: blue;
  border-color: #428bca;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}
.nav .nav-divider {
  background-color: purple;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


// Panels
div.panel {
	border: none;
	border-radius: 0px;
    background: #ffffff;
    padding: 5px, 5px, 5px, 5px;
    -moz-box-shadow: 0px 2px 3px #999999;
    -webkit-box-shadow: 0px 2px 3px #999999;
    box-shadow: 0px 2px 3px #999999;
}

div.panel > div.panel-heading {
	color: @panel-font-color;
	background-color: @panel-header-bg-color;
	//border-color: @panel-border-color;
	font-weight: bold;
	font-size: medium;
}

.panel-primary > .panel-heading {
	border-color: white;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
	border-top-color: white;
}



// Data Tables
tr.highlight {
    background-color: @data-table-highlight-color;
}

th {
    background: @data-table-header-bg-color;
    color: @data-table-header-font-color;
    padding: 5px 0 5px 0;
}

td {
    padding: 5px 0 5px 0;
}


// CSS3

input.data:focus {
    outline: none !important;
    background-color: rgb(255,255,255,0.8);
    border: 2px solid #ff8430;
    box-shadow: 0 0 10px #719ECE;
}

.input:focus {
    outline: none !important;
    background-color: rgb(255,255,255,0.8);
    border: 2px solid #ff8430;
    box-shadow: 0 0 10px #719ECE;
}

input:required {
	background-color: rgba(255,0,0,0.10);
}

input.data:required {
	background-color: rgb(255,0,0,0.10);
}

.grad1 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}

.article-bg {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(@article-bg-color, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@article-bg-color, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@article-bg-color, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@article-bg-color, white); /* Standard syntax */
}